<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Order Delivery Details</h1>
    <form method="POST" data-th-object="${delivery}" data-th-action="@{/pizza/order}">
        <table>
            <tr>
                <td> 
                    Name:
                </td>
                <td>    
                    <input type="text" placeholder="Your name" data-th-field="*{name}"/>
                    <span data-th-errorclass = error data-th-if="${#fields.hasErrors('name')}" data-th-errors = "*{name}" ></span>
                </td>
            </tr>
            <tr>
                <td> 
                    Address:
                </td>
                <td>  
                    <input type="text" placeholder = "Your Address" data-th-field = "*{address}"/>
                    <span data-th-errorclass = error data-th-if="${#fields.hasErrors('address')}" data-th-errors = "*{address}" ></span>
                </td>
            </tr>
            <tr>
                <td> 
                    Phone:
                </td>
                <td>      
                    <input type="text" placeholder = "Your Phone" data-th-field = "*{phone}"/> 
                    <span data-th-errorclass = error data-th-if="${#fields.hasErrors('phone')}" data-th-errors = "*{phone}" ></span>
                </td>
            <tr>
                <td>
                    Rush:
                </td>
                <td>  
                    <input type="checkbox" data-th-field="*{rush}"/> 
                </td>
            </tr>
            <tr>
                <td>
                    Comments:     
                </td>
                <td>
                    <textarea data-th-field="*{comments}" cols="30" rows="5" placeholder = "Type here"></textarea>
                    <span data-th-errorclass = error data-th-if="${#fields.hasErrors('comments')}" data-th-errors = "*{comments}" ></span>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value = "Cancel Order" formaction="/" formmethod="POST"></input>
                </td>
                <td>
                    <input type="submit" value = "Place Order"></input>
                </td>
            </tr>
        </table>
        </form>
</body>
</html>